
//.footer - _footer.pug

footer.footer
	.container
		hr.footer-hr
		.row
			.col-lg-4
				a(href="#home").link-smooth.footer-logo
					img(src="img/logo.png", alt="")
			///col
			.col-lg-8
				.row
					.col-sm-6.col-md-4
						ul.footer-list
							li
								h4.m-0.text-white
									| Company
							li
								a(href="#0")
									| About Us
							li
								a(href="#0")
									| Pricing
							li
								a(href="#0")
									| Blog
					///col
					.col-sm-6.col-md-4
						ul.footer-list
							li
								h4.m-0.text-white
									| Products
							li
								a(href="#0")
									| Proofreading
							li
								a(href="#0")
									| Art Unit Predictor
							li
								a(href="#0")
									| Examiner Stats
							li
								a(href="#0")
									| Patent Plex
					///col
					.col-sm-6.col-md-4
						ul.footer-list
							li
								h4.m-0.text-white
									| Resources
							li
								a(href="#0")
									| Help
							li
								a(href="#0")
									| Privacy
							li
								a(href="#0")
									| Security
							li
								a(href="#0")
									| Terms
					///col
				///row
			///col
		///row
	///container
///.footer



