// .header - _header.pug
header#home.header
	.header_content
		nav.navbar.custom-nav.navbar-expand-md.navbar-light
			.container
				a.navbar-brand.link-smooth(href="index.html").ml-0.ml-xl-auto.mr-auto
					img(src="img/logo.png", alt="")
				button.ml-auto.navbar-toggler.show-menu(type="button")
					span.navbar-toggler-icon
						span.top-line
						span.middle-line
						span.bottom-line
				.mobile-nav-bg
				.navbar-collapse.mobile-nav
					ul.navbar-nav.primary-nav.ml-auto.navbar-nav-js
						li.nav-item.dropdown
							a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								| Products
							.dropdown-menu(aria-labelledby='navbarDropdown')
								a.dropdown-item.js-nav-link(href="art-unit-predictor.html") Art Unit Predictor
								a.dropdown-item.js-nav-link(href="examiner-stats.html") Examiner Stats
								a.dropdown-item.js-nav-link(href="patent-plex.html") Patent Plex
								a.dropdown-item.js-nav-link(href="proofreading.html") Proofreading
						li.nav-item
							a.nav-link.js-nav-link(href="#0") Pricing
						li.nav-item
							a.nav-link.js-nav-link(href="#0") Resources
						li.nav-item.pt-3.pt-md-0
							a.btn.btn-light.js-nav-link(href="#0") Sign In
				/// navbar-collapse
			/// container
		///navbar
	///.header_content
/// .header









