// Head
head
	// Meta
	meta(charset='utf-8')

	// Title
	title Title text

	// Viewport 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	// Description 
	<meta name="description" content="description text">

	<meta name="author" content="author text">


	// Google Fonts 
	//- font-family: 'Montserrat', sans-serif
	+css("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap")
	//- font-family: 'Arimo', sans-serif
	+css("https://fonts.googleapis.com/css2?family=Arimo&display=swap")

	// Styles Owl Carousel 
	+css('owlcarousel/owl.carousel.min.css')
	+css('owlcarousel/owl.theme.default.css')

	// Styles 
	+css('css/main.css')

	// Favicon 
	link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
	link(rel='manifest', href='site.webmanifest')
	link(rel='mask-icon', href='safari-pinned-tab.svg', color='#009fe3')
	meta(name='msapplication-TileColor', content='#ffffff')
	meta(name='theme-color', content='#ffffff')
