extends templates/template.pug

block content
	// .main
	main.main
		section.section-home.examiner-home
			.section-home-blink
				.container
					.section-home-content
						h1.section-home-title.bigger
							| Patent Examiner Statistics
						h4.section-home-subtitle
							| Get broader claims allowed. 
							br
							| Get claims allowed faster. 
							br
							| Lower costs of prosecution.
						a(href="#0").btn.btn-primary
							| See Examiner Stats
				///container
			///section-home-blink
		///section-home


		section.section-top-white-angel.pt-5.pt-sm-4.pt-md-0.pb-5
			.container
				h3.info-section-title.text-dark
					| In Art Unit 2628:
				.row
					.col-lg-4.col-sm-6
						.percent-card
							.percent-card--number.text-danger
								| 1%
							.percent-card--text
								| Examiner P grant rate
								img(src="img/frowning-face.png", alt="", style="max-width: 20px;").ml-1
						///.percent-card
					///col
					.col-lg-4.col-sm-6
						.percent-card
							.percent-card--number.text-success
								| 93%
							.percent-card--text
								| Examiner S grant rate
								img(src="img/smiling-face.png", alt="", style="max-width: 20px;").ml-1
						///.percent-card
					///col
				///.row
				h3.text-secondary.m-0
					| Adapt your strategy to get better outcomes!
			///.container


		section.section
			.container
				h5.section-subtitle
					| why you need examiner statistics
				h2.section-title
					| Get to Know Your Patent Examiner
				.row
					.col-lg-4
						.card-media.card-media-lg-h-100.mb-5.mb-lg-0
							.card-media-header
								img.card-media-icon(src='img/icon-card-20.png' alt='')
								h3.card-media-title.text-dark
									| What we 
									span.text-primary
										| do
							///.card-media-header
							p.card-media-text
								| Patent Bots has a page for each USPTO patent examiner that shows statistics describing his or her behavior during prosecution.  The examiner pages are generated using data obtained directly from the USPTO and are updated on a regular basis.
						///.card-media
					///col
					.col-lg-4
						.card-media.card-media-lg-h-100.mb-5.mb-lg-0
							.card-media-header
								img.card-media-icon(src='img/icon-card-21.png' alt='')
								h3.card-media-title.text-dark
									| How stats 
									span.text-primary
										| help
							///.card-media-header
							p.card-media-text
								| Our statistics are designed to help you answer the questions you are asking yourself during prosecution, such as 
								br
								| “Should I amend my claims?”,
								br
								| “Should I interview the examiner?”, and “Should I appeal?”
						///.card-media
					///col
					.col-lg-4
						.card-media.card-media-lg-h-100.mb-0
							.card-media-header
								img.card-media-icon(src='img/icon-card-22.png' alt='')
								h3.card-media-title.text-primary
									| Free and premium 
									span.text-dark
										| tiers
							///.card-media-header
							p.card-media-text
								| Our proofreading results use a modern web interface so they are easy to understand and interactive. For example, you can click on an antecedent basis error to see the closest matching antecedent to help you diagnose the error. 
						///.card-media
					///col
				///row
			///container
		///section-products


		section.section.subsection-blue-bg
			.container
				h5.section-subtitle
					| testimonials
				h2.section-title
					| What Our Clients Have to Say
				.owl-carousel.owl-theme.js-owl-reviews.owl-reviews
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| Patent Bots helps me provide a better value to my clients. With the examiner statistics, I am more informed about potential obstacles, approval rates, and appeal strategies.
							.card-review-author
								img(src="img/review-author-img-10.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Melanie Grover
								h6.card-review-author--subtitle
									| Brake, Hughes, Bellermann
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| Patent Bots presents examiner statistics in a very user-friendly way, making the numbers easy to understand and apply.
							.card-review-author
								img(src="img/review-author-img-11.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Jason Sanders
								h6.card-review-author--subtitle
									| Sanders IP Law
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| Patent Bots' examiner statistics help me understand what a particular examiner looks at when assessing a new invention. I'm able to better counsel my client and develop a more robust strategy.
							.card-review-author
								img(src="img/review-author-img-12.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Mary Ann Brow
								h6.card-review-author--subtitle
									| Casimir Jones
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| The examiner statistics are helpful for managing client expectations.  Patent Bots enables me to show my clients the likelihood of getting applications allowed given the assigned examiner.
							.card-review-author
								img(src="img/review-author-img-13.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Lisa Geary
								h6.card-review-author--subtitle
									| Dentons
						///.card-review
					///.item
		///testimonials


		section.section
			.container
				h5.section-subtitle
					| free features
				h2.section-title
					| Free Examiner Statistics
				.info-section
					.row
						.col-lg-6.order-12.order-lg-1
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Employment information
								p.card-sm-text
									| See your examiner’s education level, their location, and how long they’ve been at the USPTO.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Grant rate and difficulty rating
								p.card-sm-text
									| See how hard your examiner is compared to other examiners.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Grant rate timeline
								p.card-sm-text
									| See our predictions for how long it will take to get your patent allowed.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Interview benefit
								p.card-sm-text
									| Learn if requesting an interview will help or hurt your case.
							///.card-sm
							.card-sm.mb-5
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Recent dispositions
								p.card-sm-text
									| Read about past dispositions that were abandoned and approved.
							///.card-sm
						///col
						.col-lg-6.order-1.order-lg-12
							.info-section-image.d-flex.align-items-center.h-100
								img(src="img/products-img-9.png", alt="")
						///col
					///row
					.text-center
						a(href="#0").btn.btn-primary
							| Try Examiner Stats
				///.info-section
			///.container
		///examples


		section.section.subsection-blue-bg.no-after
			.container
				h5.section-subtitle
					| premium features
				h2.section-title
					| Premium Examiner Statistics
				.info-section
					.row
						.col-lg-6.order-12.order-lg-1
							.card-sm
								.card-sm-header
									img(src="img/icon-check-2.png", alt="").card-sm-icon
									h5.card-sm-title
										| Recent dispositions
								p.card-sm-text
									| See the rejections (e.g., 101, 102, and 103) made in individual office actions to find relevant arguments made by other attorneys.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check-2.png", alt="").card-sm-icon
									h5.card-sm-title
										| Appeals statistics
								p.card-sm-text
									| Share appeals statistics with clients to help them make better-informed decisions.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check-2.png", alt="").card-sm-icon
									h5.card-sm-title
										| Appeals history
								p.card-sm-text
									| Study the appeal history of an examiner to determine whether or not you should appeal.
							///.card-sm
						///col
						.col-lg-6.order-1.order-lg-12
							.info-section-image.d-flex.align-items-center.h-100
								img(src="img/products-img-10.png", alt="")
						///col
					///row
				///.info-section
			///.container
		///examples


		section.section-darknes-bg.before-blue
			.container
				h5.section-subtitle.text-primary
					| why use examiner statistics
				h2.section-title
					| Better Outcomes for your Client
				.row
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-23.png", alt="")
							h3.card-info-title
								| Obtain broader patents
							p.card-info-text.text-light-grey
								| Don’t amend your claims unless you need to. Make better decisions about when and how to amend claims.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-24.png", alt="")
							h3.card-info-title
								| Prepare for Interviews
							p.card-info-text.text-light-grey
								| Know your examiner before going into an interview. Adjust your strategy based on the difficulty of the examiner.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-25.png", alt="")
							h3.card-info-title
								| Better Appeal Decisions
							p.card-info-text.text-light-grey
								| Appeals are long and expensive. Our predictions of appeal success and outcomes help you make better decisions.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-26.png", alt="")
							h3.card-info-title
								| Set Client Expectations
							p.card-info-text.text-light-grey
								| Use hard data to let your client know what you are up against and to support your prosecution recommendations.
						///.card-info
					///col
				///.row
				.text-center.pt-5
					a(href="#0").btn.btn-primary
						| Try Examiner Stats
		///try our products now
	/// .main
