extends templates/template.pug

block content
	// .main
	main.main
		section.section-home.proofreading-home
			.section-home-blink
				.container
					.section-home-content
						h1.section-home-title.bigger
							| Patent Proofreading
						h4.section-home-subtitle
							| Your clients’ patents are valuable. 
							br
							| Humans make mistakes. 
							br
							| Why wouldn’t you use automated proofreading?
						a(href="#0").btn.btn-primary
							| Try Proofreading
				///container
			///section-home-blink
		///section-home


		section.section-top-white-angel.pt-5.pt-sm-4.p-md-0
			.container
				h3.info-section-title.text-dark
					| Error rates in issued patents:
				.row
					.col-sm-4
						.percent-card
							.percent-card--number
								| 8%
							.percent-card--text
								| have dependency errors
						///.percent-card
					///col
					.col-sm-4
						.percent-card
							.percent-card--number
								| 76%
							.percent-card--text
								| have antecedent basis errors
						///.percent-card
					///col
					.col-sm-4
						.percent-card
							.percent-card--number
								| 89%
							.percent-card--text
								| have word support errors
						///.percent-card
					///col
				///.row
			///.container


		section.section
			.container
				h5.section-subtitle
					| how it works
				h2.section-title
					| Automated Patent Proofreading is Easy and Efficient
				.row
					.col-lg-6.col-xl-4
						.card-media.first-step
							.card-media--first-step
							.card-media-header
								img.card-media-icon(src='img/icon-card-07.png' alt='')
								h3.card-media-title
									| Upload 
									span.text-dark
										| document
							///.card-media-header
							p.card-media-text
								| With our Word add-in, you can start proofreading your patent application or office action response from directly within Word (or you can also do it from our website).  With the click of a button, your patent document is transmitted for processing.
						///.card-media
					///col
					.col-lg-6.col-xl-4
						.card-media.second-step
							.card-media--second-step
							.card-media-header
								img.card-media-icon(src='img/icon-card-08.png' alt='')
								h3.card-media-title
									| Results 
									span.text-dark
										| in 2 sec
							///.card-media-header
							p.card-media-text
								| Two seconds later, you see proofreading results in your browser window.  By the time you see your proofreading results, our servers have already discarded all information about your patent document.
						///.card-media
					///col
					.col-lg-6.col-xl-4
						.card-media.mb-0
							.card-media-header
								img.card-media-icon(src='img/icon-card-09.png' alt='')
								h3.card-media-title
									| Correct errors 
							///.card-media-header
							p.card-media-text
								| Our proofreading results use a modern web interface so they are easy to understand and interactive. For example, you can click on an antecedent basis error to see the closest matching antecedent to help you diagnose the error. 
						///.card-media
					///col
				///row
			///container
		///section-products


		section.section.subsection-blue-bg
			.container
				h5.section-subtitle
					| testimonials
				h2.section-title
					| What Our Clients Have to Say
				.owl-carousel.owl-theme.js-owl-reviews.owl-reviews
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| When evaluating legal tech platforms, our firm looks for products that provide our attorneys with flexibility, efficiency, and high utility.  Patent Bots satisfies all of our criteria.
							.card-review-author
								img(src="img/review-author-img-5.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Carlyn Burton
								h6.card-review-author--subtitle
									| Osha Liang
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| Patent Bots has helped me become a more detail-oriented attorney and produce higher quality work.
							.card-review-author
								img(src="img/review-author-img-6.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Arvind Reddy
								h6.card-review-author--subtitle
									| Thomas Horstmeyer
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| Without Patent Bots, I'd have to dedicate a greater percentage of my hours to basic proofreading, leaving me with less time for substantive review of content.
							.card-review-author
								img(src="img/review-author-img-7.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Sean Detweiler
								h6.card-review-author--subtitle
									| Morse
						///.card-review
					///.item
					.item
						blockquote.card-review
							img(src="img/icon-review.png", alt="").card-review-icon
							p.card-review-text
								| I feel more confident sending a final draft to a client knowing that Patent Bots did a second proofreading check.
							.card-review-author
								img(src="img/review-author-img-8.jpg", alt="").card-review-author--img
								h5.card-review-author--title
									| Ken Heywood
								h6.card-review-author--subtitle
									| Behmke Innovation Group LLC
						///.card-review
					///.item
		///testimonials


		section.section
			.container
				h5.section-subtitle
					| benefits of patent proofreadinG
				h2.section-title
					| Patent Proofreading Makes you a Better Patent Attorney
				.row
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-10.png", alt="")
							h3.card-info-title
								| Reduce Risk
							p.card-info-text
								| Avoiding legal errors in issued patents is paramount.  Sleep better knowing that our AI is checking your work!
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-11.png", alt="")
							h3.card-info-title
								| Impress Clients 
							p.card-info-text
								| Present high-quality work to clients and avoid embarrassing errors. Recruit clients with a reputation for excellent work.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-12.png", alt="")
							h3.card-info-title
								| Increase Profits
							p.card-info-text
								| Complete capped or fixed fee work under budget.  Pays for itself with the time you save.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-13.png", alt="")
							h3.card-info-title
								| Quality Control
							p.card-info-text
								| Receive higher quality work for your review.  New practitioners can learn more quickly with instant feedback from our proofreading.
						///.card-info
					///col
				///.row
		///why use our products


		section.section
			.container
				h5.section-subtitle
					| examples
				h2.section-title
					| Patent Errors We Find For You
				.info-section
					.row
						.col-lg-6.order-12.order-lg-1
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Antecedent Basis Errors
								p.card-sm-text
									| Ensure that each noun phrase in your claims has an appropriate antecedent basis.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Claim Word and Phrase Support
								p.card-sm-text
									| Count the number of times each claim word and phrase appears in the specification.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Claim Numbering
								p.card-sm-text
									| Check that claims have been numbered properly including claim dependencies and claim types.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Claim Status Indicators
								p.card-sm-text
									| For claims that have been amended, check that the status has been changed to Currently Amended and vice versa.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Reference Labels
								p.card-sm-text
									| Extract reference labels from the specification and look for reference labels that may be used inconsistently.
							///.card-sm
							.card-sm
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Figure Numbers
								p.card-sm-text
									| Check that your figure numbers are consistent across the brief description of the figures, specification, and figures.
							///.card-sm
							.card-sm.mb-0
								.card-sm-header
									img(src="img/icon-check.png", alt="").card-sm-icon
									h5.card-sm-title
										| Patent Profanity
								p.card-sm-text
									| Review your specification and claims for possibly limiting words, such as "required", "necessary", and "must".
							///.card-sm
						///col
						.col-lg-6.order-1.order-lg-12
							.info-section-image.d-flex.align-items-center.h-100
								img(src="img/products-img-1.png", alt="")
						///col
					///row
				///.info-section
			///.container
		///examples


		section.section-darknes-bg
			.container
				h5.section-subtitle.text-primary
					| why use patent bots
				h2.section-title
					| Patent Bots is the 
					span.text-primary
						| #1 
					| Proofreading Tool
				.row
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-14.png", alt="")
							h3.card-info-title
								| High Accuracy
							p.card-info-text.text-light-grey
								| Patent Bots uses state-of-the-art machine learning to provide you with highly accurate proofreading results.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-15.png", alt="")
							h3.card-info-title
								| Fast and Easy to Use
							p.card-info-text.text-light-grey
								| Our proofreading typically takes 2 seconds, and our modern web interface makes it easy to understand and diagnose errors.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-16.png", alt="")
							h3.card-info-title
								| Reasonably Priced
							p.card-info-text.text-light-grey
								| A la carte pricing to provide the best value for your firm with monthly and annual subscription options.  See our pricing page for details.
						///.card-info
					///col
					.col-sm-6.col-xl-3
						.card-info.mb-lg-4.mb-xl-0
							.card-info-img
								img(src="img/icon-card-17.png", alt="")
							h3.card-info-title
								| Secure
							p.card-info-text.text-light-grey
								| We process your patents in the U.S. and follow security best practices.  Patents are never stored and immediately discarded.
						///.card-info
					///col
				///.row
				.text-center.pt-5
					a(href="#0").btn.btn-primary
						| Try Proofreading
		///try our products now
	/// .main
