<!DOCTYPE html>
<html lang="en">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Title text</title>
	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Description -->
	<meta name="description" content="description text">
	<meta name="author" content="author text">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&amp;display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arimo&amp;display=swap" />
	<!-- Styles Owl Carousel -->
	<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />
	<link rel="stylesheet" href="owlcarousel/owl.theme.default.css" />
	<!-- Styles -->
	<link rel="stylesheet" href="css/main.css" />
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#009fe3">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<!-- .header - _header.pug-->
	<header class="header" id="home">
		<div class="header_content">
			<nav class="navbar custom-nav navbar-expand-xl navbar-light">
				<div class="container">
					<a class="navbar-brand link-smooth ml-0 ml-xl-auto mr-auto" href="index.html">
						<img src="img/logo.png" alt="">
					</a>
					<button class="ml-auto navbar-toggler show-menu" type="button"><span class="navbar-toggler-icon"><span class="top-line"></span><span class="middle-line"></span><span class="bottom-line"></span></span>
					</button>
					<div class="mobile-nav-bg"></div>
					<div class="navbar-collapse mobile-nav">
						<ul class="navbar-nav primary-nav ml-auto navbar-nav-js">
							<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item js-nav-link" href="#0">Art Unit Predictor</a><a class="dropdown-item js-nav-link" href="#0">Examiner Stats</a><a class="dropdown-item js-nav-link" href="patent-plex.html">Patent Plex</a><a class="dropdown-item js-nav-link"
									href="proofreading.html">Proofreading</a>
								</div>
							</li>
							<li class="nav-item"><a class="nav-link js-nav-link" href="#0">Pricing</a>
							</li>
							<li class="nav-item"><a class="nav-link js-nav-link" href="#0">Resources</a>
							</li>
							<li class="nav-item pt-3 pt-xl-0"><a class="btn btn-secondary text-white border-white js-nav-link" href="#0">Sign In</a>
							</li>
						</ul>
					</div>
					<!--/ navbar-collapse-->
				</div>
				<!--/ container-->
			</nav>
			<!--/navbar-->
		</div>
		<!--/.header_content-->
	</header>
	<!--/ .header-->
	<!--.footer - _footer.pug-->
	<footer class="footer">
		<div class="container">
			<hr class="footer-hr">
			<div class="row">
				<div class="col-lg-4">
					<a class="link-smooth footer-logo" href="#home">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<!--/col-->
				<div class="col-lg-8">
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<ul class="footer-list">
								<li>
									<h4 class="m-0 text-white">Company</h4>
								</li>
								<li><a href="#0">About Us</a>
								</li>
								<li><a href="#0">Pricing</a>
								</li>
								<li><a href="#0">Blog</a>
								</li>
							</ul>
						</div>
						<!--/col-->
						<div class="col-sm-6 col-md-4">
							<ul class="footer-list">
								<li>
									<h4 class="m-0 text-white">Products</h4>
								</li>
								<li><a href="#0">Proofreading</a>
								</li>
								<li><a href="#0">Art Unit Predictor</a>
								</li>
								<li><a href="#0">Examiner Stats</a>
								</li>
								<li><a href="#0">Patent Plex</a>
								</li>
							</ul>
						</div>
						<!--/col-->
						<div class="col-sm-6 col-md-4">
							<ul class="footer-list">
								<li>
									<h4 class="m-0 text-white">Resources</h4>
								</li>
								<li><a href="#0">Help</a>
								</li>
								<li><a href="#0">Privacy</a>
								</li>
								<li><a href="#0">Security</a>
								</li>
								<li><a href="#0">Terms</a>
								</li>
							</ul>
						</div>
						<!--/col-->
					</div>
					<!--/row-->
				</div>
				<!--/col-->
			</div>
			<!--/row-->
		</div>
		<!--/container-->
	</footer>
	<!--/.footer-->
	<!-- Scripts-->
	<!-- jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Owl carousel-->
	<script src="owlcarousel/owl.carousel.min.js"></script>
	<!-- Framework-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom-->
	<script src="js/main.js"></script>
</body>

</html>